**/.env*
**/*.egg-info/
**/__pycache__
**/.coverage
**/.workspace
**/.pytest_cache
**/.mypy_cache
**/build
**/html/*
**/tests
**/tmp_trainer
**/venv

**/node_modules
**/test-results
**/.next
**/.github
**/.vscode
